<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.UserInfoMapper">

    <select id="queryUserInfos" resultType="java.util.Map">
        SELECT
        u.userCode,
        u.userName,
        u.loginName,
        u.email,
        u.telephoneNumber,
        d1.dicValue AS role,
        d2.dicValue AS onlineStatus,
        d3.dicValue AS accountStatus,
        DATE_FORMAT( u.entryTime, '%Y-%m-%d' ) AS entryTime
        FROM
        user_info u
        LEFT JOIN dictionary_info d1 ON d1.dicTypeCode = 0
        AND u.roleCode = d1.dicCode
        LEFT JOIN dictionary_info d2 ON d2.dicTypeCode = 1
        AND u.onlineStatusCode = d2.dicCode
        LEFT JOIN dictionary_info d3 ON d3.dicTypeCode = 6
        AND u.accountStatusCode = d3.dicCode
        WHERE
        (u.roleCode = 1 OR u.roleCode = 2)
        <if test="userName!='' and userName != null">
            AND u.userName LIKE concat('%',#{userName},'%')
        </if>
        <if test="roleCode!='' and roleCode != null">
            AND u.roleCode = #{roleCode}
        </if>
        <if test="onlineStatusCode!='' and onlineStatusCode != null">
            AND u.onlineStatusCode = #{onlineStatusCode}
        </if>
        <if test="accountStatusCode!='' and accountStatusCode != null">
            AND u.accountStatusCode = #{accountStatusCode}
        </if>
        <if test="entryTime!='' and entryTime != null">
            AND u.entryTime = #{entryTime}
        </if>
        ORDER BY u.updateTime DESC
    </select>

</mapper>
